.noti-list-title{
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #565656;
  margin-bottom: 30px !important;
  font-size: 50px;
  margin: 0 auto;
}

.noti-type{
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.noti-count{
  font-size: 20px;
  color: #555555;
  margin-left: 5px;
}

.noti-wrapper{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  border-top: 1px solid #D1D1D1;
  padding: 7px 15px;
  cursor: pointer;
}

.noti-type-wrapper {
  width: 460px;
  display: inline-block;  
  vertical-align: top;
}

.noti-type-wrapper:first-of-type {
  margin-right: 44px;
}

.noti-wrapper:last-of-type{
  border-top: 1px solid #D1D1D1;
}

.noti-more-button{
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.noti-wrapper:hover{
  background-color: #F9F9F9
}

.noti-unchecked{
  background-color: #eff7ef;
}

.noti-unchecked:hover{
  background-color: #d5f2d5;
}

.noti-contents{
  color: #333333;
  font-size: 17px;
  line-height: 36px;
  margin-bottom: 3px;
  position: relative;
}

.noti-list-icon{
  font-size: 20px;
  position: absolute;
  top: -5px;
  color: #556080;
}

.noti-list-date{
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 15px;
  color: #555555;
}