.noti-list-title{
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #565656;
  margin-bottom: 30px !important;
  font-size: 50px;
  margin: 0 auto;
}

.noti-new-list{
  margin-top: 30px;
}

.noti-type{
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
}

.noti-count{
  display: inline-block;
  font-size: 25px;
  height: 37px;
  color: #555555;
  margin-left: 10px;
}

.noti-count.unconfirmed{
  color: #B00018 !important;
}

.noti-title-wrapper{
  position: relative;
  border-top: 2px solid #B1C1C1;
  border-bottom: 1px solid #B1C1C1;
  padding: 10px 0;
  margin-top: 5px;
}

.noti-title-contents{
  display: inline-block;
  margin-bottom: 0;
  color: #444444;
  font-size: 20px;
  font-weight: bold;
}

.noti-title-contents.grade{
  position: absolute;
  top: 10px;
  left: 10px;
}

.noti-title-contents.date{
  position: absolute;
  top: 10px;
  right: 10px;
}

.noti-title-contents.contents{
  width: 100%;
  text-align: center;
}

.noti-wrapper{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  border-top: 1px solid #D1D1D1;
  padding: 7px 15px;
  cursor: pointer;
}

.noti-type-wrapper{
  width: 49%;
  display: inline-block;  
  vertical-align: top;
}

.noti-type-wrapper:first-of-type{
  margin-right: 2%;
}

.noti-wrapper:last-of-type{
  border-top: 1px solid #D1D1D1;
}

.noti-wrapper{
  background-color: #FEFEFE;
}
.noti-wrapper:hover{
  background-color: #F9F9F9
}

.noti-unchecked{
  background-color: #eff7ef;
}

.noti-unchecked:hover{
  background-color: #d5f2d5;
}

.noti-contents{
  display: inline-block;
  color: #333333;
  width: calc(100% - 120px);
  font-size: 17px;
  line-height: 36px;
  margin-left: 15px;
  margin-bottom: 0;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden !important; 
}

.noti-color{
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid #D1D1D1;
}

.noti-list-date{
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 15px;
  color: #555555;
}